body {
	font-size: 12px;
}

#main_container {
	width: 1100px;
	height: 800px;
	margin: auto;
}

/* primefaces-es css option felülírása esetén !important, hogy az enyém érvényesüljön 
	primefaces overlay panel to login and register
*/
p,ul {
	font-size: 12px;
}

.mainMenuItem:HOVER {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}

.formButtons {
	border-color: transparent !important;
	color: white !important;
	background-color: #006DCC !important;
	background-image: -moz-linear-gradient(top, #08C, #04C) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C),
		to(#04C) ) !important;
	background-image: -webkit-linear-gradient(top, #08C, #04C) !important;
	background-image: -o-linear-gradient(top, #08C, #04C) !important;
	background-image: linear-gradient(to bottom, #08C, #04C) !important;
	background-repeat: repeat-x !important;
}

.formButtons:HOVER {
	color: white !important;
	background-color: #04C !important;
	text-decoration: none !important;
	background-position: 0 -15px !important;
	-webkit-transition: background-position 0.1s linear !important;
	-moz-transition: background-position 0.1s linear !important;
	-o-transition: background-position 0.1s linear !important;
	transition: background-position 0.1s linear !important;
}

.formsButtons:ACTIVE {
	color: white !important;
	background-color: #04C !important;
}

}
#panelGrid_kapcsolatok {
	margin: 15px;
}

.ui-tabmenu {
/* 	background: #DDD */
/* 		url("/champion/faces/javax.faces.resource/images/ui-bg_flat_50_dddddd_40x100.png?ln=primefaces-championtheme") */
/* 		50% 50% repeat-x; */
	background: transparent !important;
}

.ui-tabmenu ul {
	width: 80% !important;
	margin: 0 auto !important;
	padding-left: 12px !important;
	background: transparent !important;
}

.ui-tabmenu ul .ui-state-active{
	border-color:  transparent !important;
}

.widget-header {
	text-align: center;
	font: bold 230%/100% "Lucida Grande";
	text-transform: capitalize;
	color: black;
	padding: 10px;
/* 		background-image:#c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)); */
/* 		background-image:#c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))); */
/* 		background-image:#c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)); */
	
/* 	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#AEB092), to(#171910)); */
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(left, #FFFFFF 0%, #1F393D 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(left, #FFFFFF 0%, #1F393D 100%);
	/* Opera */
	background-image: -o-linear-gradient(left, #FFFFFF 0%, #1F393D 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF),
		color-stop(1, #1F393D) );
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #1F393D 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to right, #FFFFFF 0%, #1F393D 100%);
}

.justified-text {
	text-align: justify;
	padding-left: 40px;
	padding-right: 40px;
}

#ui-login-group {
	float: right;
	text-align: right;
	width: 12.8%;
	background: transparent !important;
}

#ui-login-mainMenu {
	float: left;
	width: 87%;
	border:0px !important;
	background: transparent !important;
	border-color: #000 !important;
}

#ui-login-mainMenu .ui-widget-content{
	border: 0px !important;
}

#ui-widget-menus{
	height: 34px;
	background-image: -moz-linear-gradient(top, #222222, #111111) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222),to(#111111) ) !important;
	background-image: -webkit-linear-gradient(top, #222222, #111111) !important;
	background-image: -o-linear-gradient(top, #222222, #111111) !important;
	background-image: linear-gradient(to bottom, #222222, #111111) !important;
	background-repeat: repeat-x !important;
	border-color: #252525 !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111', GradientType=0 ) !important;
}

